<h2>Channel</h2>

<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add Channel</button>
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#updateModal">Update Channel</button>

<div ng-repeat="channel in channels">
    <div class="col-md-11">
        <h2>{{channel.name}}</h2>
    </div>
    <div class="col-md-1">
        <img style=" margin:2px; width:100%" src="{{channel.url}}" />
    </div>
    <div class="col-md-12">
        <div class="list-group">
            <a href="#" ng-repeat="(key, frame) in channel.channels" class="list-group-item" target="_self" data-frame-id="{{key}}" data-frame-name="{{channel.name}}" data-toggle="modal" data-target="#frameModal">{{channel.name}} {{key+1}}  </a>
          
        </div>
    </div>
</div>

<div my-modal></div>



<div class="modal fade" id="updateModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Update Channel</h4>
            </div>
            <div class="modal-body">
                <form role="form" id="update">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <select class="form-control" name="name">
                            <option ng-repeat="key in keys" value="{{key}}">{{key}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="name">Channel Url:</label>
                        <textarea class="form-control" placeholder="channel name" rows="4" cols="50" name="channel">

                        </textarea>
                    </div>
                    <button type="submit" value="" name="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


<div id="frameModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Channel</h4>
            </div>
            <div class="modal-body">
                <button class="btn btn-danger btn-xs" target="_self" data-title="Delete" val_name="{{frame_name}}" val_id="{{frame_id}}" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button>
                <div style="margin:auto;" ng-bind-html='frame | rawHtml'>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>





<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
            </div>
            <div class="modal-body">

                <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this Record?</div>

            </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<style>
    .modal-dialog {
        width: 800px;
    }
    
    iframe {
        margin: auto!important;
        text-align: center!important;
        display: block;
    }
</style>