<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Channel</h4>
            </div>
            <div class="modal-body">
                <form role="form" id="upload">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" placeholder="channel name" name="name">
                    </div>
                    <div class="form-group">
                        <label for="name">Channel Url:</label>
                        <textarea class="form-control" placeholder="channel name" rows="4" cols="50" name="channel">

                        </textarea>
                    </div>
                    <div class="form-group">
                        <label for="category">Category:</label>
                        <input type="text" class="form-control" placeholder="channel category" name="category">
                    </div>
                    <div class="form-group">
                        <label for="country">Country:</label>
                        <input type="text" class="form-control" placeholder="channel country" name="country">
                    </div>
                    <div class="form-group">
                        <label for="country">Img:</label>
                        <input type="file" class="form-control" name="fileToUpload" id="fileToUpload">
                    </div>
                    <div class="form-group">
                        <label for="name">Channel About:</label>
                        <textarea class="form-control" placeholder="channel about" rows="4" cols="50" name="about">

                        </textarea>
                    </div>
                    <button type="submit" value="" name="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>



